*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Calibri', 'sans-serif';
}

li{
    list-style: none;
}

body{
    /* For all space below or above*/
    background: #ece6ff;
}

/* Main page related */
.page-contents{
    height: auto;
    display: flex;
    flex-direction: column;

    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 30px;
    padding-bottom: 150px;
}

.side-nav{
    width: 250px;
    height: 100%;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px 30px;
}

.name{
    display: block;
    margin-bottom: 130px;
}

.name-img{
    width: 150px;
}

.nav-link{
    list-style: none ;
    position: relative;
}

.nav-link li{
    padding: 10px 0;
}

.nav-link li a{
    color: black;
    text-decoration: none;
    padding: 10px 7px;
    display: flex;
    align-items: center;
}
.nav-link li a i{
    font-size: 22px;
    margin-right: 20px;
}

.active{
    background: white;
    width: 100%;
    height: 47px;
    position: absolute;
    left: 0;
    top: 2.5%;
    z-index: -1;
    border-radius: 6px;
    box-shadow: 0 5px 10px #474747;
    display: none;
}

.nav-link li:hover a{
    color:#474747 ;
    transition: 0.3s;
}

.nav-link li:hover ~ .active{
    display: block;
}
.nav-link li:nth-child(1):hover ~.active{
    top:2.5%;
}

.nav-link li:nth-child(2):hover ~.active{
    top:26.5%;
}

.nav-link li:nth-child(3):hover ~.active{
    top:52.5%;
}

.nav-link li:nth-child(4):hover ~.active{
    top:77.5%;
}

/* End of Navigation Bar */


/* Start of page contents*/

.page-title{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;

}

.typewriter{
    display: inline-block;
}

#scrolling-title{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 15px;

    font-size: 3.2vw;
    letter-spacing: 10px;
    font-family: monospace;

    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: typing 3.5s ;


}

@keyframes typing{
    from {width: 0}
}

#subtitle{
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: monospace;
    font-size: .75vw;
    padding-top: 0.25em;
    padding-bottom: 0.75em;
}


.main-content{
    width: calc(100% - 250px);
    margin-left: 250px;
    padding: 30px;
    display: flex;
}

.main-content{
    font-size: 5em;
    letter-spacing: 8px;
    font-family: monospace;

    display: flex;
    justify-content: center;
    align-content: center;
}

/* Resume pdf as image */
#my-resume-scan{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 50px;

    margin: auto;
    max-width: 100%;
    height: auto;
}

.subtitle{
    /*Centre*/
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: monospace;
    padding-top: 1em;
}

.contact{
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: monospace;


    padding-top: 3em;
    font-size: 1.125vw;
    padding-bottom: 1em;

}
#foreword{
    font-size: 0.8vw;
    font-weight: lighter;
}

.contact-info{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
    padding-top: 35px;

 /*   Row gap*/
 }

.contact-left, .content-right{
}

.contact-left{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#main-image{
    display: flex;
    justify-content: center;
    align-content: center;

    padding-left: 250px;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.social-media{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: row;
}

.social-media-links{
    font-size: 1vw;
    font-weight: lighter;
    padding: 10px;
}

#about-computers{
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-content: center;

    font-family: monospace;
    font-size: 2vw;
}

.computer-section{
    display: flex;
    flex-direction: row;

    margin: auto;

}
/* Handles the images of computers in aboutme.html*/
.computers{
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 40px;


    width: 45%;
    margin: auto;
    max-width: 100%;
    height: auto;
}

.p-specifications{
    display: flex;
    justify-content: center;
    align-content: center;

    font-weight: lighter;
    font-family: monospace;


}

.ul-specs{
    padding-top: 10px;
    font-weight: lighter;
    font-family: monospace;
}



